/ {
    led_strip {
        compatible = "zmk,underglow";
        label = "UNDERGLOW";
        chain-length = <6>;
        color = <0x00 0x00 0xFF>; /* Default color (blue) */
    };

    layer_state {
        default_mac_layer {
            underglow {
                color = <0x00 0x00 0xFF>; /* Default: Blue */
                effect = "swirl";         /* Default effect */
            };
        };

        lower_layer {
            underglow {
                color = <0xFF 0x00 0x00>; /* Layer 1: Red */
                effect = "solid";         /* Solid effect */
            };
        };
    };
};
